body {
    background-color: rgb(74, 72, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2 {
    color: rgb(230, 216, 216);
}

p {
    color: whitesmoke;
}

.container {
    margin-top: 10vh;
    display: grid;
    text-align: center;
    align-content: center;
    border-color: black;
    border-radius: 10px;
    width: 80%;
    height: 75vh;
    background-color: dimgrey;
    justify-items: center;
}

.results {
    margin-top: 30px;
    background-color: rgb(131, 128, 128);
    width: 80%;
    height: auto;
    display: inline-block;
    border-radius: 15px;
}

ul {
    display: inline-block;
    text-align: left;
}

li {
    color: aliceblue;
}